$main-background: #DD4037;
$border-color: #eaeaea;
$noselect-color: #808080;
$nofind-color: #999;
$small-white-color: rgba(255, 255, 255, 0.8);
$font-color: rgba(255, 255, 255, 0.7);
$placeholder-color: rgba(255, 255, 255, 0.3);
$keyword-color: #577BA3;
$best-small-font: 0.12rem;
$normal-font: 0.13rem;
$best-big-font: 0.15rem;